/*--------------EL NAVABAR---------------*/
.navbar-color{
    background-color: rgb(11, 176, 52);
}
.color-ul .nav-link {
    color: #fff; 
    font-size: 1.3rem;
}

.color-ul .nav-link:hover {
    color: #563c3c; 
}
.button-rounded {
    border-radius: 25px; 
    padding: 10px 20px; 
    border: 2px solid #ccc; 
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    font-size: 16px; 
    width: 200px;
    height: 50px;
}

/*----------------INICIO------------*/
.fondoPrin {
    background-image: url('../../assets/img/fairTrade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    height: 500px;
}

.in-h1 .display-4 {
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
}

.section-background {
    background: rgb(53, 106, 186);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.in-h1 h1 {
    font-weight: bold;
    font-size: 3rem;
}

.intro p {
    font-size: 1.2rem;
}

.hola {
    border-width: 5px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 15px;
}



/* Alert.css */
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    cursor: pointer;
}
.alert.success {
    background-color: #0f7a14; /* Verde para éxito */
}  
.alert.error {
    background-color: #f44336; /* Rojo para error */
}

/*--------ESTIDLOS DE FOOTER-----------------*/
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
